{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/poli2.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Seamos realistas, no importa lo entusiasmado que estés por un proyecto o una meta en la vida, siempre hay momentos en que necesitas recordarte a ti mismo que lo vas a conseguir.</p>
        <p>Seguro que tienes de esos días en los que, pese a los logros que ya has logrado, te apetece sentarte en el sofá y mirar la tele, en vez de ponerte manos a la obra para poder entregar esa tarea de la universidad. En este sentido, es beneficioso que incorpores a tu rutina unos pocos minutos diarios para leer frases motivadoras y reflexionar sobre ellas, ya que estas nos permiten conectar ideas y emociones que canalizarán nuestras energías hacia los proyectos que son importantes para nosotros. Aquí encontrarás una selección de las mejores; pero antes, veamos cuáles son los efectos psicológicos de este hábito de desarrollo personal</p>
            
        <br>
        <p><b>Teléfono:</b> 7272727272</p>
        <p><b>Honorarios:</b> 100$/h (precio base)</p>
    </div>
</div>
{% endblock %}

